<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>controller.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/umanage</url-pattern>
        <url-pattern>/dpmanage</url-pattern>
        <url-pattern>/vbmanage</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Page</servlet-name>
        <servlet-class>controller.servlet.Page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>controller.servlet.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>controller.servlet.admin.UserManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DPManagement</servlet-name>
        <servlet-class>controller.servlet.admin.DPManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VBManagement</servlet-name>
        <servlet-class>controller.servlet.admin.VBManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Page</servlet-name>
        <url-pattern>/Page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/umanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DPManagement</servlet-name>
        <url-pattern>/dpmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VBManagement</servlet-name>
        <url-pattern>/vbmanage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
